 * {
     background-color:black;
 }
 
 #title {
     color:white;
     text-align: center;
 }
 
 img {
     height : 180px;
     width : 320px;
 }
 
 h4 {
     color : white;
     text-align : center;
 }
 
 div {
     display : inline-block;
 }
 
 #section-1 {
     height : 100%;
     width : 360px;
     position : fixed;
     left : 5%;
     
 }
 
 #section-2 {
     height : 100%;
     width : 360px;
     position : fixed;
     right : 5%;
 }
 
 #Vid {
     background-color : white;
     height : 180px;
     width : 320px;
     margin : 20px;
 }
